* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-primary {
    background-color: #2d51cb !important;
}

.main_nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.nav-link:focus {
    color: rgb(255, 255, 255);
}

.btn-primary:hover {
    color: rgba(255, 255, 255, 0.7);
}

.orange-color {
    color: #fcd250 !important;
}

.orange-color:hover {
    color: rgba(252, 210, 80, 0.7) !important;
}

.btn-primary {
    background-color: transparent;
    border-color: white;
    font-weight: 700;
    padding: 2px 10px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 14px;


}

.top-menu-badge {
    background-color: #c7ebff;
    color: #04458f;
    font-size: 9px;
    padding: 1px 5px 1px 5px;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 2px;
}

.mid-content {
    text-align: center;
    color: white;
}

.mid-content h2{
    font-weight: bold;
    line-height: 1.8em;
    font-size: 32px;
}

.mid-content p{
    font-size: 21px;
}

.input-group {
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 30px;
}

::placeholder {
    color: rgb(202, 202, 202) !important;
}

.form-control {
    border-bottom: 0;
}

.form-control:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: none;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.btn:first-child:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.mid-under-search {
    background-color: #5688e3;
    list-style-type: none;
    margin: 20px 6px;
    border-radius: 3px;
    padding: 0px 11px 3px 11px;
}

.mid-under-search a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: white;

}

.mid-under-search:hover {
    background-color: #6c97e7;
}

.size-view{
    border: 2px solid #81aff1;
    padding: 2px;
    border-radius: 200px;
    width: 110px;
    height: 110px;
}

.col-1 a {
    text-decoration: none;
    color: #ffffff;
}





